[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "colors/gnome-terminal-colors"]
	path = colors/gnome-terminal-colors
	url = https://github.com/metalelf0/gnome-terminal-colors.git
[submodule "kak/autoload/plugins/plug"]
	path = kak/autoload/plugins/plug
	url = https://github.com/alexherbo2/plug.kak
